<script>
import api from "@/services/api";

export default {
  data() {
    return {

      game: {
        name: '',
        description: '',
        price: 0,
        photos: [],
      },

      productTypes: [],

      showProductTypes: false,

      productTemplate: {
        name: "Assassin's Creed Valhalla",
        productType: "Game",
        photos: [
          "https://cdn.cloudflare.steamstatic.com/steam/apps/2208920/header.jpg?t=1697654233"
        ],
        description: "Вам предстоит пройти путь к славе, сыграв за легендарного викинга. Нападайте на врагов, развивайте селение и усиливайте влияние.",
        price: 2199.00
      },


      autoProducts: {
        type: '',
        quantity: 0,
      },

    }
  },

  mounted() {
    this.fetchAndSetProductTypes();

  },

  methods: {
    async fetchAndSetProductTypes() {
      try {
        const response = await api.get('/products/get-products-types');
        response.data.forEach(item => this.productTypes.push(item))
        // this.productTypes = response.data;
      } catch (error) {
        console.error('Error fetching auto-fill options:', error);
      }
    },

    async createGame() {
      await api.post('/products/create-product', this.game)
          .then(response => {
            console.log(response.data);
          }).catch(error => {
            console.error('Ошибка при отправке данных:', error);
          });
    },

    toggleShowProductTypes() {
      this.showProductTypes = !this.showProductTypes;
    },

    async createProducts() {

      let payload = [];

      this.autoProducts.quantity

      for (let i = 0; i < this.autoProducts.quantity; i++) {
        payload.push(this.productTemplate);
      }

      // Избавляемся от свойств proxy обьекта
      payload = JSON.parse(JSON.stringify(payload));

      await api.post('/products/create-products', payload)
          .then(response => console.log(response.data));
    },

    increasePhoto() {
      this.game.photos.push('');
    },
    decreasePhoto(index) {
      this.game.photos.splice(index, 1);
    }
  }
}
</script>

<template>
  <div class="addgame">
    <h1>Добавление игры</h1>
    <form autocomplete="off" @submit.prevent class="game-form">
      <label for="gameName">Название игры:</label>
      <input type="text" v-model="game.name" required>

      <label for="gameDescription">Описание игры:</label>
      <textarea v-model="game.description" required></textarea>

      <label for="gamePrice">Цена:</label>
      <input type="number" v-model="game.price" required>

      <label for="gameImage">Фото (URL):
        <button @click="increasePhoto" class="addphoto">+</button>
      </label>
      <div v-for="(url, index) in game.photos" :key="index">

        <div class="kkkk">
          <input type="text" v-model="game.photos[index]" required>
          <button @click="decreasePhoto(index)" class="addphoto">-</button>
        </div>
        <div>

        </div>

      </div>
      <button type="submit" @click="createGame">Добавить игру</button>

      <div><br></div>
      <button type="button" @click="toggleShowProductTypes" style="background-color: orange">Автонаполнение</button>

      <form v-if="showProductTypes" @submit.prevent class="autofill-form">
        <label for="autoFillType">Тип:</label>

        <select v-model="autoProducts.type">
          <option v-for="(type, key) in productTypes" :key="key">{{ type }}</option>
        </select>

        <label for="autoFillQuantity">Количество:</label>
        <input type="number" v-model="autoProducts.quantity" required>

        <button type="submit" @click="createProducts" style="background-color: orange">Применить</button>
      </form>
    </form>
  </div>
</template>

<style scoped>
.addgame {
  padding-top: 150px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}


h1 {
  text-align: center;
}

.game-form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  color: #fff;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #333;
  font-family: "Roboto", sans-serif;
  outline: 0;
  font-size: 14px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.addphoto {
  width: 50px !important;
  margin-top: 45px;
  display: block;
}

.kkkk {
  align-content: center;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.kkkk button {
  height: 45px;
  text-align: center;
  margin-left: 10px;
  background: red;
}

.kkkk input {
  width: 85%;
}
</style>