<template>
  <footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-text">
                <h4>Find us</h4>
                <span>1010 Avenue, sw 54321, chandigarh</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-phone"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>9876543210</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="far fa-envelope-open"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>mail@info.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copyright &copy; 2023, All Right Reserved <a href="./#">Ventor</a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="./home">Home</a></li>
                <li><a href="./news">News</a></li>
                <li><a href="./magic">Magic</a></li>
                <li><a href="./game">Shop</a></li>
                <li><a href="./profile">Profile</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style scoped>
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@media (min-width: 2000px) {
  .footer-section,
  .footer-cta,
  .single-cta i,
  .cta-text h4,
  .cta-text span,
  .footer-pattern img,
  .footer-logo img,
  .footer-text p,
  .footer-social-icon span,
  .footer-social-icon a,
  .footer-social-icon i,
  .footer-widget-heading h3,
  .footer-widget-heading h3::before,
  .footer-widget ul li,
  .subscribe-form input,
  .subscribe-form button,
  .subscribe-form button i,
  .copyright-area {
    background: #151414;
  }

  .footer-cta {
    border-bottom: 1px solid #373636;
  }

  .single-cta i {
    font-size: 40px;
  }

  .cta-text h4 {
    font-size: 24px;
  }

  .cta-text span {
    font-size: 18px;
  }

  .footer-pattern img {
    height: 400px;
  }

  .footer-logo img {
    max-width: 300px;
  }

  .footer-text p {
    font-size: 18px;
  }

  .footer-social-icon span {
    font-size: 30px;
  }

  .footer-social-icon a {
    font-size: 24px;
  }

  .footer-social-icon i {
    height: 60px;
    width: 60px;
    line-height: 58px;
  }

  .footer-widget-heading h3 {
    font-size: 24px;
  }

  .footer-widget-heading h3::before {
    width: 70px;
  }

  .footer-widget ul li {
    width: 50%;
  }

  .subscribe-form input {
    padding: 18px 28px;
  }

  .subscribe-form button {
    padding: 15px 30px;
  }

  .subscribe-form button i {
    font-size: 28px;
  }

  .copyright-area {
    background: #202020;
  }
}
</style>
