<script setup>
import { ref } from 'vue';
import api from "@/services/api";

const fruits = ['🍒', '🍋', '🍇', '🍊', '🍎'];


const reel1 = ref('');
const reel2 = ref('');
const reel3 = ref('');
const resultString = ref('');

const spin = async () => {
  resultString.value = '';
  spinReel(reel1);
  spinReel(reel2);
  spinReel(reel3);
  setTimeout(async () => {
    resultString.value = `Result: ${reel1.value} ${reel2.value} ${reel3.value}`;
    document.getElementById('result').style.color = 'white';

    if (reel1.value === reel2.value && reel2.value === reel3.value) {
      alert('Поздравляем! Вы выиграли 1000₴! Ваш баланс обновлен.!');
      await chargeBalance(1000.0);
    } else if (reel1.value === reel2.value || reel2.value === reel3.value || reel1.value === reel3.value) {
      alert('Поздравляем! Вы выиграли 300₴! Ваш баланс обновлен.');
      await chargeBalance(300.0);
    } else {
      alert('Увы, ваш выигрыш 0₴');
    }
  }, 2000);
};

const spinReel = (reel) => {
  const randomIndex = Math.floor(Math.random() * fruits.length);
  const shuffledFruits = fruits.slice(randomIndex).concat(fruits.slice(0, randomIndex));

  let currentIndex = 0;
  const interval = setInterval(() => {
    reel.value = shuffledFruits[currentIndex];
    currentIndex++;

    if (currentIndex === fruits.length) {
      currentIndex = 0;
    }
  }, 100);

  setTimeout(() => {
    clearInterval(interval);
    reel.value = shuffledFruits[currentIndex];
  }, 2000);
};

async function chargeBalance(amount) {
  const response = api.post("/wallet/charge", {
    "amount": amount
  });
  return response.data;
}


</script>

<template>
  <div class="fruitwellcome"><h2>Собери фрукты и заработай деньги на баланс!</h2></div>
  <div class="machine">
    <div id="slot-machine">
      <h1>Fruit Slot Machine</h1>
      <button @click="spin">Spin</button>
      <div class="reels-container">
        <div class="reel">{{ reel1 }}</div>
        <div class="reel">{{ reel2 }}</div>
        <div class="reel">{{ reel3 }}</div>
      </div>
      <div id="result">{{ resultString }}</div>
    </div>
  </div>
</template>


<style scoped>
.fruitwellcome {
  position: absolute;
  top: 20%;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
}

.fruitwellcome h2{
  font-size: 32px;
}

.machine {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #222222;
}

#slot-machine {
  text-align: center;
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

h1 {
  color: #fff;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 2em;
  color: white;
}

.reels-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.reel {
  font-size: 2em;
  overflow: hidden;
  height: 150px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .fruitwellcome h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 465px) {
  .fruitwellcome h2 {
    font-size: 14px;
  }
}
</style>