<script>

export default {

  props: {
    game: Object,
  }

}

</script>

<template>
  <div class="themost-game-con">
    <div class="mgame-img">
      <div v-for="(photo, key) in game.photos" :key="key">
        <img v-if="key === 0" :src="photo" alt="Game Image"/>
      </div>
      <div class="product-shadow"></div>
    </div>
    <div class="mgame-text">
      <div class="mgame-title">
        <h2>{{ game.title }}</h2>
      </div>
      <div class="mgame-description">
        <p>{{ game.description }}</p>
      </div>
      <div class="mgame-price">
        <h2>{{ game.price }} &#8372;</h2>
      </div>
    </div>
  </div>
</template>

<style scoped>
.mgame-img {
  position: relative;
}

.mgame-img img {
    width: 100%;
    height: auto;
    min-height: 272px;
    border-radius: 8px 8px 0 0;
    display: block;
}

.product-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: linear-gradient(180deg, rgba(19, 15, 15, 0) 0%, #141111 90%);
  pointer-events: none;
}

.themost-game-con {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mgame-con {
  width: calc(20% - 20px);
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.mgame-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mgame-title h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.mgame-genres h2 {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}

.mgame-description p {
  margin: 10px;
  color: #666;
}

.mgame-price h2 {
  margin: 0;
  width: 100px;
  text-align: center;
  font-size: 1.2em;
  color: #e44d26;
}

.confirmation-form,
.purchase-details {
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
}

.confirmation-form {
  border-color: #ccc;
}

.purchase-details {
  border-color: #4caf50;
  background-color: #f8f8f8;
  color: #4caf50;
}

@media screen and (max-width: 768px) {
  .mgame-con {
    width: calc(50% - 20px);
  }
}
</style>
