<script>
import 'bootstrap/dist/js/bootstrap.bundle.min.js';
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import 'bootstrap';
</script>

<template>
  <header>
    <div id="app" class="app">
      <div class="navbar-navs">
        <div class="item-content">
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#searchModal">
              Поиск
            </a>
          </li>
          <li class="nav-item">
            <a href="/home" class="nav-link">
              <font-awesome-icon icon="home"/>
              Главная
            </a>
          </li>
          <li class="nav-item">
            <a href="/news" class="nav-link">
              <font-awesome-icon icon="home"/>
              Новости
            </a>
          </li>
          <li v-if="showAdminBoard" class="nav-item">
            <a href="/admin" class="nav-link">Admin Board</a>
          </li>
          <li v-if="showModeratorBoard" class="nav-item">
            <a href="/mod" class="nav-link">Moderator Board</a>
          </li>
          <div class="logo-nav">
            <img src="../../../public/img/logo.svg">
          </div>
          <li class="nav-item">
            <a href="/tournament" class="nav-link">
              <font-awesome-icon icon="home"/>
              Турниры
            </a>
          </li>
          <li class="nav-item">
            <a href="/game" class="nav-link">
              <font-awesome-icon icon="home"/>
              Магазин
            </a>
          </li>
          <li class="nav-item" @click="toggleDropdown">
            <a class="nav-link"> Профиль</a>
            <ul class="dropdown-menu" style="display: flex">
              <li>
                <a href="/profile" class="nav-links">Мой профиль</a>
              </li>
              <li>
                <a href="/wallet" class="nav-links">Финансы</a>
              </li>
              <li>
                <a href="/magic" class="nav-links">Заработать баланс</a>
              </li>
              <li>
                <a href="/profile" class="nav-links" @click.prevent="logOut">Выйти</a>
              </li>
            </ul>
          </li>

        </div>

        <div class="modal" id="searchModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Поиск по сайту</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form>
                  <input type="text" placeholder="Введите запрос...">
                  <button type="submit">Искать</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style scoped>
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

.app {
  height: 0;
  margin: 0;
}

.logo-nav {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.logo-nav img {
  width: 100px;
  position: relative;
  z-index: 1;
}

.logo-nav::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  box-shadow: 0 0 10px 5px #4caf50;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.logo-nav:hover::before {
  opacity: 1;
}


.navbar-navs li {
  list-style: none;
}

.navbar-navs {
  height: 1px;
  position: absolute;
}

.navbar-navs {
  width: 100%;
  background: transparent;
  position: fixed;
  height: 50px;
  z-index: 1;
  margin: 0 auto;
}

.item-content {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 15, 15, 0)), color-stop(9.38%, rgba(19, 15, 15, .05)), color-stop(20.83%, rgba(19, 16, 16, .15)), color-stop(46.35%, rgba(20, 17, 17, .49)), color-stop(75%, rgba(20, 17, 17, .7)), to(rgba(20, 17, 17, .95)));
  background: linear-gradient(0deg, rgba(19, 15, 15, 0) 0%, rgba(19, 15, 15, .05) 9.38%, rgba(19, 16, 16, .15) 20.83%, rgba(20, 17, 17, .49) 46.35%, rgba(20, 17, 17, .7) 75%, rgba(20, 17, 17, .95) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


.navbar-navs a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}

.navbar-navs a:hover {
  text-align: center;
  transition: 0.5s;
  color: red;
  text-shadow: 1px 1px 2px red, 0 0 2em red, 0 0 0.2em red;
}

.navbar-navs li:active {
  color: #bf0b05;
}


ul.dropdown-menu {
  background: #141111;
  border-radius: 20px;
}


.nav-links {
  cursor: pointer;
  font-size: 10px !important;
}


.nav-item.active .dropdown-menu {
  display: block;
}

.nav-item {
  position: relative;
}

.dropdown-menu {
  flex-direction: column;
  align-items: center;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.nav-link {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .item-content {
    gap: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-navs a {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .navbar-navs a {
    font-size: 14px;
  }
}


</style>