<script setup>

</script>

<template>
  <main>
    <div class="b-content__container">
        <div class="h4">В&nbsp;вашей корзине еще ничего нет :(</div>
      <a class="btn btn--primary" href="/catalog">перейти в каталог</a>
      </div>
  </main>

</template>

<style scoped>
main {
  font-family: TT Milks;
  background: #141111;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.b-content__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFFFFF;
  text-transform: uppercase;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  color: #FFFFFF;
  background: red;
  border-radius: 50px;
  width: 35%;
  display:  block;
}

.btn:hover {
  opacity: 0.7;
}
</style>