<template>
  <a :href="news.site_detail_url" class="news-link">
    <div class="news-item">
      <div class="news-img">
        <img :src="news.image.original" alt="News Thumbnail"/>
      </div>
      <div class="news-text">
        <div class="news-title">
          <h2>{{ news.title }}</h2>
        </div>
        <div class="news-description">
          <p>{{ news.deck }}</p>
          <p>{{ news.publish_date }}</p>
          <a :href="news.site_detail_url" target="_blank">Подробнее</a>
        </div>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  props: {
    news: Object,
  },
};
</script>

<style scoped>
.news-link {
  text-decoration: none;
}

.news-item {
  width: 460px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.news-img img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.news-title h2 {
  font-weight: 700;
  white-space: normal;
  color: #fff;
  font-size: 32px;
  margin-bottom: 8px;
  display: block;
  transition: color 0.3s;
}

.news-description p {
  white-space: normal;
  color: #ffffff89;
  font-size: 24px;
  margin: 10px 0;
  font-weight: 500;
  transition: color 0.3s;
}

.news-item:hover {
  border-radius: 20px;
  transition: 0.5s;
  color: #fbbb43;
}

.news-item:hover .news-img img {
  transition: 0.1s;
  border: 4px solid #fbbb43;
  border-radius: 20px;
}

.news-item:hover .news-text h2,
.news-item:hover .news-text p {
  transition: 0.3s;
  color: #fbbb43;
}

@media (min-width: 1700px) {
  .news-item {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
  }

  .news-title h2 {
    font-size: 36px;
  }

  .news-description p {
    font-size: 28px;
  }
}

@media (max-width: 1600px) {
  .news-description p {
    font-size: 24px;
  }
}

@media (max-width: 1300px) {
  .news-title h2 {
    font-size: 26px;
  }

  .news-description p {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .news-title h2 {
    font-size: 22px;
  }

  .news-description p {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .news-title h2 {
    font-size: 20px;
  }

  .news-description p {
    font-size: 14px;
  }
}
</style>
