<script>
// import api from "@/services/api";

export default {
  props: {
    visible: Boolean,
    sendRequest: Function,
  },
  data() {
    return {
      chargeData: {
        amount: 0,
      },
      cardNumberValid: true,
      amountValid: true,
      formValid: false,
    };
  },
  watch: {
    'chargeData.cardNumber': 'validateCardNumber',
    'chargeData.amount': 'validateAmount',
  },
  methods: {
    validateCardNumber() {
      const validateCardNumber = /^\d{16}$/;
      this.cardNumberValid = validateCardNumber.test(this.chargeData.cardNumber);
      this.validateForm();
    },
    validateAmount() {
      const input = document.getElementById('exampleInputAmount'); //
      const validateAmount = /^\d+$/;

      input.value = input.value.replace(/[^\d]/g, '');

      this.amountValid = validateAmount.test(input.value);
      if (!this.amountValid) {
        this.validateForm();
        alert("Вы не верно ввели сумму, попробуйте еще раз.");
      }
    },
    validateForm() {
      this.formValid = this.cardNumberValid && this.amountValid;
    },
    closeModal() {
      this.$emit("closeModal");
    },
    async sendChargeRequest(amount) {
        try {
          await this.sendRequest(amount);

        } catch (error) {
          console.error('Error sending charge request:', error);
        }
    },
  },
};
</script>

<template>

  <div class="col-md-6 offset-md-3 modalsa" v-show="visible">
    <span class="anchor" id="formPayment"></span>
    <hr class="my-5">
    <div class="card card-outline-secondary shadow">
      <div class="card-body">
        <h3 class="text-center">Credit Card Payment</h3>
        <hr>
        <form class="form" autocomplete="off">
          <div class="form-group">
            <label for="cc_name">Card Holder's Name</label>
            <input type="text" class="form-control" id="cc_name" pattern="\w+ \w+.*" title="First and last name"
                   required="required">
          </div>
          <div class="form-group">
            <label>Card Number</label>
            <input type="text" class="form-control" autocomplete="off" maxlength="20" pattern="\d{16}"
                   title="Credit card number" required="" @input="validateCardNumber">
          </div>
          <div class="form-group row">
            <label class="col-md-12">Card Exp. Date</label>
            <div class="col-md-4">
              <select class="form-control" name="cc_exp_mo" size="0">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="form-control" name="cc_exp_yr" size="0">
                <option
                    v-for="(text, index) in ['2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026']"
                    :key="index">{{ text }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}"
                     title="Three digits at back of your card" required="" placeholder="CVC">
            </div>
          </div>
          <div class="row">
            <label class="col-md-12">Amount</label>
          </div>
          <div class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">$</span></div>
              <input type="number" v-model="chargeData.amount" class="form-control text-right" id="exampleInputAmount" placeholder="39" @input="validateAmount">
              <div class="input-group-append"><span class="input-group-text">.00</span></div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-md-6">
              <button type="reset" class="btn btn-default btn-lg btn-block" @click="closeModal">Cancel</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg btn-block" @click="sendChargeRequest(chargeData.amount)">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>

<style scoped>
.modalsa {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  background: none;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 2px 2px 10px #454545;
}
</style>