<script setup>
</script>

<template>
  <div class="social">
    <a href="https://your-telegram-link" target="_blank">
      <i class="fab fa-telegram"></i>
    </a>
    <a href="https://your-instagram-link" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://your-github-link" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
</template>

<style scoped>
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

@media (max-width: 800px) {
  .social a {
    display: none;
  }
}

.social {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  top: 15rem;
  left: 15rem;
  z-index: 14;
}

.social a {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.social a:hover {
  text-align: center;
  transition: 0.5s;
  color: red;
  text-shadow: 1px 1px 2px red, 0 0 2em red, 0 0 0.2em red;
}
</style>
