<script>
import api from "@/services/api";
import store from "@/store";
import PayComponent from "@/components/components/PayComponent.vue";

export default {
  data() {
    return {
      transactions: [],
      transactionsByCategory: {},
      isModalVisible: false,
      showWithdrawAmountModal: false,
      showWithdrawPasswordModal: false,
      withdrawAmount: '',
      withdrawPassword: '',
      modalVisible: false,
      username: '',
      userDetails: {
        userId: '',
      },
      amount: '',
      showChargeModal: false,
      showPasswordModal: false,
      password: '',
      chargeRequest: {
        amount: '',
        recipientUserId: ''
      },
      transferRequest: {},
      walletDetails: {
        amount: null,
      },
      pagination: 10,
      paginationOffset: 10,
    };
  },
  components: {PayComponent,},
  mounted() {
    this.fetchWalletDetails();
    this.fetchUserDetails();
    this.fetchTransactions();
  },

  methods: {
    getTransactionType(transaction) {
      if (transaction.type === 'withdrawal') {
        return 'Списание';
      } else {
        return transaction.type || 'Пополнение';
      }
    },
    getTransactionAmount(transaction) {
      const formattedAmount = (transaction.amount > 0 ? '+' : '-') + Math.abs(transaction.amount) + '₴';
      return formattedAmount;
    },
    async fetchTransactions() {
      try {
        const response = await api.get('/transaction/get-last-purchases');
        this.transactions = response.data;
        this.groupAndSortTransactions();
      } catch (error) {
        console.error('Error fetching transactions:', error);
        if (error.response) {
          console.error('Status:', error.response.status);
          console.error('Data:', error.response.data);
        }
      }
    },

    async fetchUserDetails() {
      await this.$store.dispatch("fetchUserDetails");
      this.userDetails.userId = this.$store.getters.getUserDetails.userId; // Update userDetails in the component's data
    },

    groupAndSortTransactions() {
      const groupedTransactions = {};
      this.transactions.forEach(transaction => {
        const category = transaction.type || 'Other'; // Используйте поле type или аналогичное
        if (!groupedTransactions[category]) {
          groupedTransactions[category] = [];
        }
        groupedTransactions[category].push(transaction);
      });
      const sortingOrder = ['покупки', 'пополнения', 'переводы', 'списания'];
      Object.keys(groupedTransactions).forEach(category => {
        groupedTransactions[category].sort((a, b) =>
            sortingOrder.indexOf(a.type) - sortingOrder.indexOf(b.type)
        );
      });

      this.transactionsByCategory = groupedTransactions;
    },


    openModal() {
      this.modalVisible = true;
    },

    closeModal() {
      this.modalVisible = false;
    },

    confirmAction() {
      console.log('Имя пользователя:', this.username);
      console.log('Сумма:', this.amount);

      this.closeModal();
    },

    openPasswordModal() {
      this.showPasswordModal = true;
    },

    confirmTransfer() {
      console.log('Имя пользователя:', this.username);
      console.log('Сумма:', this.amount);
      console.log('Пароль:', this.password);

      this.closeModal();
    },

    openWithdrawAmountModal() {
      this.showWithdrawAmountModal = true;
    },

    closeWithdrawAmountModal() {
      this.showWithdrawAmountModal = false;
    },

    openWithdrawPasswordModal() {
      this.showWithdrawAmountModal = false;
      this.showWithdrawPasswordModal = true;
    },

    closeWithdrawPasswordModal() {
      this.showWithdrawPasswordModal = false;
    },

    confirmWithdrawal() {
      console.log('Сумма:', this.withdrawAmount);
      console.log('Пароль:', this.withdrawPassword);

      alert("Увы, не суждено !!!")

      this.showWithdrawAmountModal = false;
      this.showWithdrawPasswordModal = false;
    },

    async magicCharge(amount) {
      try {
        await api.post('/wallet/charge', {
          "amount": amount,
          "recipientUserId": this.chargeRequest.recipientUserId
        });
        await this.fetchTransactions();
        // this.closeModal();
      } catch (error) {
        console.error('Ошибка при выполнении запроса:', error);
      }
      alert
    },

    async fetchWalletDetails() {
      await store.dispatch("fetchWalletDetails");
      this.walletDetails.amount = store.getters.getWalletDetails.amount;
    }
  }
}
</script>


<template>
  <PayComponent :visible="isModalVisible" :send-request="magicCharge" @closeModal="isModalVisible = false"/>
  <div class="container">
    <div class="iphone">
      <div class="header">
        <div class="header-summary">
          <div class="summary-text">
            Твой баланс
          </div>
          <div class="summary-balance">
            &#8372; {{ walletDetails.amount }}
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card">
          <div class="lower-row">
            <div class="icon-item" @click="isModalVisible = true">
              <div class="icon"><i class="fas fa-upload"></i></div>
              <div class="icon-text">Пополнение баланса</div>
            </div>

            <div class="icon-item" @click="openWithdrawAmountModal">
              <div class="icon"><i class="fas fa-money-check-alt"></i></div>
              <div class="icon-text">Вывести</div>
            </div>
            <div v-if="showWithdrawAmountModal" class="modal">
              <div class="modal-content">
                <span class="close" @click="closeWithdrawAmountModal">&times;</span>

                <label for="withdrawAmount">Сумма:</label>
                <input v-model="withdrawAmount" type="text" id="withdrawAmount" placeholder="Введите сумму">

                <button @click="openWithdrawPasswordModal">Подтвердить</button>
              </div>
            </div>

            <!-- Модальное окно для ввода пароля при выводе -->
            <div v-if="showWithdrawPasswordModal" class="modal">
              <div class="modal-content">
                <span class="close" @click="closeWithdrawPasswordModal">&times;</span>

                <label for="withdrawPassword">Пароль:</label>
                <input v-model="withdrawPassword" type="password" id="withdrawPassword" placeholder="Введите пароль">
                <a href="/404">
                  <button @click="confirmWithdrawal">Создать заявку на вывод</button>
                </a>
              </div>
            </div>
            <div class="icon-item" @click="openModal">
              <div class="icon"><i class="fal fa-paper-plane"></i></div>
              <div class="icon-text">Переслать</div>
            </div>
            <div v-if="modalVisible && !showPasswordModal" class="modal">
              <div class="modal-content">
                <span class="close" @click="closeModal">&times;</span>

                <label for="username">Имя пользователя:</label>
                <input v-model="username" type="text" id="username" placeholder="Введите имя пользователя">

                <label for="amount">Сумма:</label>
                <input v-model="amount" type="text" id="amount" placeholder="Введите сумму">

                <button @click="openPasswordModal">Продолжить</button>
              </div>
            </div>
            <div v-if="modalVisible && showPasswordModal" class="modal">
              <div class="modal-content">
                <span class="close" @click="closeModal">&times;</span>

                <label for="password">Пароль:</label>
                <input v-model="password" type="password" id="password" placeholder="Введите пароль">

                <a href="/404">
                  <button @click="confirmTransfer">Создать перевод</button>
                </a>
              </div>
            </div>
          </div>
          <div class="transaction-container" v-for="(categoryTransactions, category) in transactionsByCategory"
               :key="category">
            <span class="t-desc">Последние транзакции</span>
            <div v-for="transaction in categoryTransactions" :key="transaction.id" class="transaction">
              <div class="t-icon-container"><img src="/img/pWmUjAa1Nmk6kTEw097RZ-transformed.png" class="t-icon"></div>
              <div class="t-details">
                <div class="t-title">Тип: {{ getTransactionType(transaction) }}</div>
                <div class="t-time">Время: {{ transaction.timestamp }}</div>
              </div>
              <div class="t-amount">{{ getTransactionAmount(transaction) }}</div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
  <button @click="pagination+=paginationOffset">Show more</button>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

img[src^="data:image"] {
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: center;
}

.iphone {
  background-color: rgba(236, 241, 239, 0.94);
  height: 500px;
  width: 900px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transform: scale(0.9);
  transform-origin: top center;
}

.header {
  height: 30%;
  background-color: rgba(69, 69, 69, 0.31);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}


.header-summary {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: white;
  z-index: 3;
}

.summary-text {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.summary-balance {
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin-bottom: 0.8rem;

}

.summary-text-2 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.user-profile {
  margin-top: 4rem;
  height: 70px;
  width: 70px;
  align-self: flex-start;
}

.user-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.content {
  z-index: 4;
  position: absolute;
  top: 210px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  width: 93%;
}

.card {

  font-family: 'Montserrat', sans-serif;
  align-self: stretch;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02), 0 10px 10px rgba(0, 0, 0, 0.0);
}

.card-item {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card-item span:first-child {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-item span:last-child {
  font-size: 1.2rem;
  font-weight: 300;
}

.dollar {
  color: #FFC168;
}

.lower-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lower-row::before {
  content: '';
  display: block;
  position: absolute;
  top: 110px;
  width: 50%;
  left: 25%;
  border-top: 1px solid #E1E1E1;
}

.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-item:hover .icon-text {
  transition: 0.5s;
  color: rgb(255, 94, 0);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.icon {
  color: #FFC168;
  padding: 10px;
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-bottom: 5px;
}

.icon-text {
  font-size: 0.6em;
  color: #939393;
}

.transactions {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: relative;
  margin-top: 1.5rem;
  flex-direction: column;
}

.t-desc {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.transaction {
  cursor: default;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02), 0 10px 10px rgba(0, 0, 0, 0.0);
  border-radius: 12px;
  margin-bottom: 20px;
}

.t-details {
  width: 55%;
}

.t-icon-container {
  width: 150px;
  align-self: flex-start;
}

.t-icon {
  width: 100%;
}

.t-title {
  flex-grow: 1;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.t-time {
  font-size: 0.6rem;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
}

.t-amount {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #06D778;
}

.red {
  color: #F4532D;
}


.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #FFC168;
  color: white;
  top: -25px;
  position: absolute;
  transform: rotate(-45deg);
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.1s;
  opacity: 0.9;
}

.menu-btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.menu-btn i {
  font-size: 1.5em;
  transform: rotate(45deg);

}

.footer {
  margin-top: 20px;
  text-align: center;
}

.transaction:hover {
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}


body {
  font-family: Arial, sans-serif;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 14% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  height: 49%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Дополнительные стили для полей ввода и кнопки */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9em;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content a {
  text-decoration: none;
}

.transaction-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.t-img img {
  width: 110px;
  padding: 0;

}

@media screen and (max-width: 400px) {
  .iphone {
    background-color: rgba(236, 241, 239, 0.94);
    height: 500px;
    width: 300px;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    transform: scale(0.9);
    transform-origin: top center;
  }

  .content {
    z-index: 4;
    position: absolute;
    top: 210px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 82%;
  }
}
</style>