<template>
  <section class="body-bg">
    <div class="col-md-12 card-sec">
      <div class="card">
        <img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
        />
        <Form
            @submit="handleLogin"
            :validation-schema="schema"
        >

          <div class="form-group">
            <label for="username">Username</label>
            <Field
                name="username"
                type="text"
                class="form-control"
            />
            <ErrorMessage name="username" class="error-feedback"/>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <Field name="password" type="password" class="form-control"/>
            <ErrorMessage name="password" class="error-feedback"/>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" :disabled="loading">
            <span
                v-show="loading"
                class="spinner-border spinner-border-sm"
            ></span>
              <div>Login</div>
            </button>
          </div>

          <div class="form-group">
            <div v-if="message" class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>

          <div class="registration-block" style="color: #FFFFFF; font-size: 0.8vw">
            <h3>Not Registered Yet?</h3>
            <p>Join us to access all the features!<br><a href="./register">Create an account</a> and start using our services.</p>
          </div>
        </Form>
      </div>
    </div>

  </section>
</template>

<script>
import {Form, Field, ErrorMessage} from "vee-validate";
import * as yup from "yup";

export default {
  name: "Login",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      username: yup.string().required("Username is required!"),
      password: yup.string().required("Password is required!"),
    });

    return {
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleLogin(user) {
      this.loading = true;

      this.$store.dispatch("auth/login", user)
          .then(() => {
            this.$router.push("/profile");
          })
          .catch(() => {
            this.loading = false;
            this.message = "Login failed. Please check your credentials and try again";
          });
    },
  },
};
</script>

<style scoped>
.body-bg {
  background: #333;
  height: 100vh;
}

label {
  display: block;
  margin-top: 10px;
}

macontriner
.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.error-feedback {
  color: red;
}

.form-group label {
  color: #fff;
}

.card input {
  color: #fff;
  background: #333;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.card button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #17601a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.card button:hover, .form button:active, .form button:focus {
  background: #00ff11;
}

section {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section .card-sec {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

</style>
