<template>
  <div class="content">
    <div class="container emp-profile">

      <form method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
<!--              Заглушка -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>{{ userDetails.firstname + " " + userDetails.lastname }}</h5>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" :class="{ active: activeTab === 'details' }" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="home" aria-selected="true" @click="showMode = 'details'; activeTab = 'details'">Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" :class="{ active: activeTab === 'wallet' }" id="wallet-tab" data-toggle="tab" href="#wallet" role="tab" aria-controls="home" aria-selected="true" @click="showMode = 'wallet'; activeTab = 'wallet'">Wallet</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"
                   @click="toggleEditProfile" v-if="showMode == 'details'"/>
          </div>
        </div>
        <div class="row" v-if="showMode == 'details'">
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active text-center" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Логин</label>
                  </div>
                  <div class="col-md-6">
                    <!--                  <p>{{ this.$store.state.userDetails.username }}</p>-->
                    <p>{{ userDetails.username }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Имя</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{ userDetails.firstname }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Фамилия</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{ userDetails.lastname }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{ userDetails.email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-if="showMode == 'wallet'">

          <wallet-component />

        </div>
      </form>
    </div>
  </div>

  <div class="tab-content">
    <div class="ab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">

      <div v-if="editMode" class="search-modal">
        <div class="search-modal-content">
          <input v-model="userDetails.firstname" type="text" placeholder="Имя"/>
          <input v-model="userDetails.lastname" type="text" placeholder="Фамилия"/>
          <input v-model="userDetails.email" type="text" placeholder="Email"/>
          <br>
          <span></span>
          <button @click="submitUserDetails">Сохранить изменения</button>
          <button @click="toggleEditProfile">Закрыть</button>
        </div>
      </div>

    </div>
    <!--                <div class="ab-pane fade" id="wallet" aria-labelledby="wallet-tab">-->
    <!--                </div>-->
  </div>
</template>

<script>

import api from "@/services/api";
import walletComponent from "@/components/components/Wallet.vue";

export default {
  components: {walletComponent},
  data() {
    return {
      activeTab: 'details',
      userDetails: {
        userId: "",
        username: "",
        firstname: "",
        lastname: "",
        email: "",
        role: "",

      },
      showMode: 'details',
      editMode: false,
      errorMessage: "",
    };
  },
  async created() {
    await this.fetchUserDetails();
  },
  methods: {
    async fetchUserDetails() {
      await this.$store.dispatch("fetchUserDetails");
      this.userDetails = this.$store.getters.getUserDetails; // Update userDetails in the component's data
    },
    toggleEditProfile() {
      this.editMode = !this.editMode;
    },
    submitUserDetails() {
      return api.post('/user/update-user-details', {
        username: this.userDetails.username,
        firstname: this.userDetails.firstname,
        lastname: this.userDetails.lastname,
        email: this.userDetails.email,
      }).then(() => {
        this.fetchUserDetails();
        alert("Ваши данные успешно обновлены")
        // window.location.reload()
        this.toggleEditProfile();
      })
          .catch(error => {
            this.errorMessage = error.message();
            console.error("Error: " + error.message())
          })
    },
  },
};
</script>

<style scoped>

.emp-profile {
  border-radius: 0.5rem;
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #0062cc;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
</style>
