<template>
  <div>
    <SocialComponent v-if="store.state.SocialIconsAllowedList.includes(this.$route.path)" />
    <SnowComponent/>
    <MobileComponent/>
    <header>
      <div id="app" class="app">
        <div class="navbar-navs">
          <ul class="item-content">
            <li class="nav-item">
              <a href="/home" class="nav-link">
                Главная
              </a>
            </li>
            <li class="nav-item">
              <a href="/news" class="nav-link">
                Новости
              </a>
            </li>
            <li class="nav-item">
              <div class="logo-nav">
                <a href="/"><img src="../public/img/logo.svg" alt="Logo"></a>
              </div>
            </li>
            <li class="nav-item" v-if="currentUser">
              <a href="/magic" class="nav-link">
                Подарок
              </a>
            </li>
            <li class="nav-item">
              <a href="/games" class="nav-link">
                Магазин
              </a>
            </li>
            <li v-if="currentUser" class="profile-dropdown">
              <a href="#" class="nav-link" @click="toggleDropdown">
                <i class="fas fa-user"></i> Профиль
              </a>
              <ul v-if="!isDropdownHidden" class="dropdownmenu" @mouseleave="setDropdownHidden">
                <li>
                  <a href="/profile" class="nav-links">Мой профиль</a>
                </li>
                <li>
                  <a href="/my-purchases" class="nav-links">Мои игры</a>
                </li>
                <li v-if="userDetails.role === 'ADMIN'">
                  <a href="/admin" class="nav-links">admin panel</a>
                </li>
                <li>
                  <a href="#" class="nav-links" @click.prevent="logOut">Выйти</a>
                </li>
              </ul>
            </li>
            <!-- Элементы для неавторизованных пользователей -->
            <li v-else>
              <a href="/registration" class="nav-link">Регистрация</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <router-view/>
    <Footer v-if="!store.state.footerNotAllowedList.includes(this.$route.path)"/>
  </div>
</template>

<script>
import EventBus from "./common/EventBus";
import Footer from "./components/components/FooterComponent.vue";
import SnowComponent from "@/components/components/SnowComponent.vue";
import SocialComponent from "@/components/components/SocialComponent.vue";
import store from "@/store";
import MobileComponent from "@/components/components/MobileComponent.vue";

export default {
  data() {
    return {
      searchQuery: "",
      isSearchModalVisible: false,
      isDropdownHidden: true,

      userDetails: {
        userId: "",
        username: "",
        firstname: "",
        lastname: "",
        email: "",
        role: "",
      },
    }
  },
  components: {MobileComponent, SocialComponent, SnowComponent, Footer },
  computed: {
    store() {
      return store
    },
    currentUser() {
      return this.$store.state.auth.user;
    }
  },

  async created() {
    if (this.currentUser){

      await this.fetchUserDetails();
    }
  },

  methods: {
    openSearchModal() {
      this.isSearchModalVisible = true;
    },

    closeSearchModal() {
      this.isSearchModalVisible = false;
    },

    performSearch() {

    },

    toggleDropdown() {
      this.isDropdownHidden = !this.isDropdownHidden;
    },

    setDropdownHidden() {
      this.isDropdownHidden = true;
    },

    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },

    async fetchUserDetails() {
      await this.$store.dispatch("fetchUserDetails");
      this.userDetails = this.$store.getters.getUserDetails; // Update userDetails in the component's data
    },
  },
  mounted() {
    EventBus.on("logout", () => {
      this.logOut();
    });
    console.log(!this.$store.state.footerNotAllowedList.includes(this.$route.path))
    console.log(this.$route.path)
  },
  beforeUnmount() {
    EventBus.remove("logout");
  }
};
</script>

<style>
.app {
  height: 0;
  margin: 0;
}

.logo-nav img {
  width: 100px;
  height: auto;
  transition: filter 0.3s, box-shadow 0.3s;
}

.navbar-navs li {
  list-style: none;
}

.navbar-navs {
  height: 1px;
  position: absolute;
  width: 100%;
  background: transparent;
  position: fixed;
  height: 50px;
  z-index: 1;
  margin: 0 auto;
}

.item-content {
  background: linear-gradient(0deg, rgba(19, 15, 15, 0) 0%, rgba(19, 15, 15, .05) 9.38%, rgba(19, 16, 16, .15) 20.83%, rgba(20, 17, 17, .49) 46.35%, rgba(20, 17, 17, .7) 75%, rgba(20, 17, 17, .95) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 2%;
}

.navbar-navs a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.navbar-navs a:hover {
  text-align: center;
  transition: 0.5s;
  color: red;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.8), 0 0 2em rgba(255, 0, 0, 0.8), 0 0 0.2em rgba(255, 0, 0, 0.8);
}

.navbar-navs li:active {
  color: #bf0b05;
}

.navbar-navs ul {
  padding: 0;
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown .dropdownmenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

ul.dropdownmenu {
  background: #141111;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.dropdownmenu li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 2px;
}

.dropdownmenu li:hover {
  transition: 0.3s;
  padding-right: 2px;
  text-transform: uppercase;
}


.nav-links {
  cursor: pointer;
  font-size: 1.2vw !important;
}

.nav-item.active .dropdownmenu {
  visibility: visible;
  opacity: 1;
}

.nav-item {
  position: relative;
}

.dropdownmenu {
  flex-direction: column;
  align-items: center;
}

.nav-link {
  cursor: pointer;
}



.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-modal-content {
  background: #2E2E2E;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.search-modal-content input {
  background: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.search-modal-content button {
  background: #17601a;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.search-modal-content button:hover {
  background: #00ff11;
  transition: 1s;
}

@media (max-width: 1050px) {
  .item-content a {
    font-size: 22px;
  }
}



@media (max-width: 920px) {
  .navbar-navs {
    display: none;
  }


}


.logo-nav {
  position: relative;
  display: inline-block;
}

.logo-nav img {

  width: 100px;
  height: auto;
  transition: box-shadow 0.3s; /* Добавляем плавный переход для эффекта свечения */
}

.logo-nav:hover img {
  filter: brightness(150%); /* Изменяем яркость изображения при наведении */
}

.logo-nav:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: 5px;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.8);
  border-radius: 50%;
}

.nav-item  i{
  transition: 0.2s;
  font-size: 28px;
  color: yellow;
}

</style>
