<script>
import GameComponent from "@/components/components/GameComponent.vue";
import api from "@/services/api";

export default {
  components: {
    GameComponent,
  },
  data() {
    return {
      gamesList: [],
      tmp: '',
      paginationVal: 15,
      paginationOffset: 15,
      isConfirmationFormVisible: false,
      selectedGame: {},
      isPurchaseComplete: false,
      showBuyModall: false,
    }
  },
  async mounted() {
    await this.fetchAndSetProducts();
  },
  methods: {
    async confirmPurchase(product) {
      this.isConfirmationFormVisible = false;

      await this.buyProduct(product);

      this.toggleShowBuyModall();
    },

    async buyProduct(product) {
      console.log("Try")
      await api.post('/products/buy-item', product).then(response => {
        response.status === 200
            ? alert("Покупка прошла успешно! Перейдите в мои игры.")
            : alert("Что-то пошло не так, попробуйте еще раз")
      }).catch(() => alert("Что-то пошло не так, попробуйте еще раз"))
    },

    cancelPurchase() {
      this.isConfirmationFormVisible = false;
      this.toggleShowBuyModall();
    },

    async fetchAndSetProducts() {
      await api.get(`/products/get-products?qnt=${this.paginationVal}`).then((response) => {
        const list = [];
        response.data.forEach(game => {
          list.push(game);
        });
        this.gamesList = list;
      });
    },

    buyItem(itemId) {

      this.selectedGame = this.gamesList.find(game => game.id == itemId)
      this.toggleShowBuyModall();

    },

    toggleShowBuyModall() {
      this.showBuyModall = !this.showBuyModall;
    },

    async loadMoreProducts() {
      try {
        this.paginationOffset += this.paginationVal;
        const response = await api.get(`/products/get-products?qnt=${this.paginationVal}&offset=${this.paginationOffset}`);
        this.gamesList = this.gamesList.concat(response.data);
      } catch (error) {
        console.error(error);
        alert("Failed to load more products");
      }
    },


  }
}
</script>

<template>
  <section class="content--game">
    <div class="video-container">
      <div class="video-background">
        <video autoplay="" preload="auto" loop="" playsinline="">
          <source type="video/webm"
                  src="https://cdn.akamai.steamstatic.com/apps/csgo/videos/csgo_react/cs2/maps_flythrough.webm">
          <source type="video/mp4"
                  src="https://cdn.akamai.steamstatic.com/apps/csgo/videos/csgo_react/cs2/maps_flythrough.mp4">
        </video>
      </div>
      <hr>
    </div>
    <main>
      <section class="products">
        <div class="new-game-container">

        </div>
        <div class="most-popular-game ">
          <div class="most-popular-game-text">
            <h2>Cамые популярные</h2>
          </div>
          <div class="gamecomp " @mouseenter="showBuyButton = true" @mouseleave="showBuyButton = false">
            <div class="all-game" v-for="(game, key) in gamesList" :key="key">
              <GameComponent :game="game"/>
              <button @click="buyItem(game.id)">Купить</button>
            </div>
          </div>
        </div>
      </section>
      <button @click="loadMoreProducts"  class="lmbtn">Load  more</button>
    </main>
  </section>


  <div v-if="showBuyModall" class="confirmation-form">
    <h2>Подтверждение покупки</h2>
    <p>Вы уверены, что хотите купить : {{ selectedGame.name }} за {{ selectedGame.price }} ₴?</p>
    <button @click="confirmPurchase(selectedGame)">Подтвердить</button>
    <button @click="cancelPurchase">Отмена</button>
  </div>

</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

:root {
  --max-w-content: 1776px;
  --p: 48px;
  --mb: 80px;
  --col: 6.25%;
  --header-height: calc(53px + 2 * var(--p));
}

.video-container {
  width: 100%;
  height: 65vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.video-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 0px;
  overflow: hidden;
  display: block;
  position: relative;
}

.video-background::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 15, 15, 0)), color-stop(90%, #141111));
  background: linear-gradient(180deg, rgba(19, 15, 15, 0) 0%, #141111 90%);
  position: absolute;
}

.video-background video {
  height: 100%;
  object-fit: cover;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: .7;
}

.content--game {
  margin: 0;
  background: #141111;
  min-height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-transform: none;
}

.products {
  max-width: var(--max-w-content);
  margin: 0 auto;
  padding: 2.5%;
}

.game-new-text {
  display: flex;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
}

.most-popular-game-text {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.container-inp {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

#selectedOption {
  display: none;
}

.gamecomp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.mgame-description p {
  font-size: 14px;
  text-align: center;
  white-space: normal;
}

.all-game {
  position: relative;
  border-radius: 11px;
  width: 100%;
  max-width: 460px;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
}


.all-game img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.all-game button {
  width: 100%;
  padding: 10px;
  background-color: #ff2300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s
}

.all-game button:hover {
  transition: 0.5s;
  background-color: rgba(255, 35, 0, 0.81);
}

.mgame-price h2 {
  position: absolute;
  top: 1%;
  font-size: 1.2em;
  border: 2px solid red;
  text-align: center;
  border-radius: 20px;
  width: 70px;
  color: #e44d26;
  right: 5%;
  -webkit-box-shadow: 7px 4px 8px 12px rgba(209, 39, 28, 0.1);
  -moz-box-shadow: 7px 4px 8px 12px rgba(209, 39, 28, 0.1);
  box-shadow: 7px 4px 8px 12px rgba(209, 39, 28, 0.1);
}

.confirmation-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirmation-form h2 {
  color: #333;
}

.confirmation-form p {
  color: #555;
}

.confirmation-form button {
  margin: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-form button:hover {
  background-color: #45a049;
}

.gamecomp img::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(19, 15, 15, 0) 0%, #141111 90%);
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}

.all-game:hover img {
  transition: 0.5s;
  border: 1px solid #FFFFFF;
}

.all-game:hover p {
  transition: 0.5s;
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF;
}

.all-game:hover button {
  opacity: 1;
}


.lmbtn {
  border-radius: 20px;
  border: none;
  display: block;
  color: #f7f7f7;
  background: red;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
}

.lmbtn:hover {
  transition: .5s;
  background: rgba(255, 0, 0, 0.78);
  box-shadow: 1px 1px 2px red, 0 0 2em red, 0 0 0.2em red;
}
</style>
