<script>
import { ref, onMounted, watch } from 'vue';


export default {

  setup() {
    const currentSlide = ref(0);
    const gamesContainer = ref(null);
    const scrollToTopButton = ref(null);

    const showSlide = (slideIndex) => {
      gamesContainer.value.style.transform = `translateX(-${slideIndex * 100}%)`;
    };

    const prevSlide = () => {
      if (currentSlide.value > 0) {
        currentSlide.value--;
        showSlide(currentSlide.value);
      } else {
        currentSlide.value = Math.ceil(gamesContainer.value.children.length / 4) - 1;
        showSlide(currentSlide.value);
      }
    };

    const nextSlide = () => {
      const numSlides = Math.ceil(gamesContainer.value.children.length / 4);
      if (currentSlide.value < numSlides - 1) {
        currentSlide.value++;
        showSlide(currentSlide.value);
      } else {
        currentSlide.value = 0;
        showSlide(currentSlide.value);
      }
    };

    const scrollToTop = () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    };

    const handleScroll = () => {
      if (scrollToTopButton.value) {
        if (window.pageYOffset > 100) {
          scrollToTopButton.value.style.display = 'block';
        } else {
          scrollToTopButton.value.style.display = 'none';
        }
      }
    };

    onMounted(() => {
      gamesContainer.value = document.querySelector('.games-container');
      scrollToTopButton.value = document.getElementById('scrollToTopButton');
      showSlide(currentSlide.value);

      window.addEventListener('scroll', handleScroll);
      watch(currentSlide, showSlide);
    });

    return { prevSlide, nextSlide, scrollToTop };
  }
};
</script>

<template>
  <div class="allcontent">
    <div class="courusel">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../public/img/slider/7669a54875fcd937cfc1e71582d01bf6.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../public/img/slider/cyberinfo.webp" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../public/img/slider/stalk.webp" class="d-block w-100 " alt="...">
          </div>
        </div>
        <div class="npmbtn">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="ventor-s">
            <div class="v-text">
              <h2>VentorSpace - расширяет грани возможного</h2>
            </div>
          <div class="scroll-arrow">
            <a href="#wellcome-game">
              <i class="fas fa-chevron-down"></i>
            </a>
          </div>
        </div>
      </div>

      <section class="section brand" aria-label="brand">
        <div class="container">

          <ul class="has-scrollbar">

            <li class="brand-item">
              <img src="../../../public/img/brand-1.png " width="90" height="90" loading="lazy" alt="brand logo">
            </li>

            <li class="brand-item">
              <img src="../../../public/img/brand-2.png" width="90" height="90" loading="lazy" alt="brand logo">
            </li>

            <li class="brand-item">
              <img src="../../../public/img/brand-3.png" width="90" height="90" loading="lazy" alt="brand logo">
            </li>

            <li class="brand-item">
              <img src="../../../public/img/brand-4.png" width="90" height="90" loading="lazy" alt="brand logo">
            </li>

            <li class="brand-item">
              <img src="../../../public/img/brand-5.png" width="90" height="90" loading="lazy" alt="brand logo">
            </li>

            <li class="brand-item">
              <img src="../../../public/img/brand-6.png" width="90" height="90" loading="lazy" alt="brand logo">
            </li>

          </ul>

        </div>
      </section>
      <div class="wellcome-game " id="wellcome-game">
        <h2>популярное среди пользователей</h2>
      </div>
      <div class="games">
        <div class="games-container">
          <div class="gamescon">
            <img src="../../../public/img/game/472738_z3FVchP3St_black_ops_cold_war.jpg" alt="">
            <div class="price-tag">
              $29.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/alan.webp" alt="">
            <div class="price-tag">
              $19.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/batla.jpg" alt="">
            <div class="price-tag">
              $49.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/farcry.jpg" alt="">
            <div class="price-tag">
              $49.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/gear.jpg" alt="">
            <div class="price-tag">
              $19.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/hcd62xIpJotkII1mBGglXQ.jpeg" alt="">
            <div class="price-tag">
              $59.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/justcase.jpg" alt="">
            <div class="price-tag">
              $29.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/justcause.jpeg" alt="">
            <div class="price-tag">
              $49.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/mirrors_edge.jpg" alt="">
            <div class="price-tag">
              $199.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/orig.webp" alt="">
            <div class="price-tag">
              $56.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/serioussam4_1.jpg" alt="">
            <div class="price-tag">
              $69.99
            </div>
          </div>
          <div class="gamescon">
            <img src="../../../public/img/game/woch.jpg" alt="">
            <div class="price-tag">
              $9.99
            </div>
          </div>
        </div>
        <button id="prevBtn" @click="prevSlide" class="non">Previous</button>
        <button id="nextBtn" @click="nextSlide" class="non">Next</button>
      </div>
      <div class="wyWe">
        <div class="we-con">
          <div class="we-img">
            <i class="fa-solid fa-tags" style="color: #ffffff;"></i>
          </div>
          <div class="we-text">
            Скидки
            круглый год
          </div>
        </div>
        <div class="we-con">
          <div class="we-img">
            <i class="fa-solid fa-headset" style="color: #ffffff;"></i>
          </div>
          <div class="we-text">
            Отзывчивая
            поддержка
          </div>
        </div>
        <div class="we-con">
          <div class="we-img">
            <i class="fa-solid fa-users" style="color: #ffffff;"></i>
          </div>
          <div class="we-text">
            Активное
            коммьюнити
          </div>
        </div>
        <div class="we-con">
          <div class="we-img">
            <i class="fa-solid fa-gamepad" style="color: #ffffff;"></i>
          </div>
          <div class="we-text">
            Любовь
            к играм
          </div>
        </div>
      </div>
    </div>
    <div class="news-home">
      <div class="wellcome-news">
        <h2>наш выбор новостей</h2>
      </div>
      <div class="its-news">
        <div class="news__wrapper-article">

          <article class="news__wrapper-article">
            <a class="news_img" href="/blog">
              <img src="../../../public/img/news/cold.webp"
                   alt="Розыгрыш октябрьских новинок" width="450px">
            </a>
            <div class="news__wrapper_type">
              <h5>Подборка</h5>
              <h6>25.10.2023</h6>
            </div>
            <a class="news__wrapper-article__title" href="/blog">Call of Duty Black Ops Cold War</a>
            <a class="b-blog-article__description" href="/blog">Как стало известно, практически завершена работа над
              взломом сюжетной компании Call of Duty Black Ops Cold War.</a>
          </article>

        </div>
        <article class="news__wrapper-article">
          <a class="news_img" href="/blog">
            <img src="../../../public/img/news/gone.jpeg"
                 alt="Игровые новости недели (16—22 октября 2023)" width="450px">
          </a>
          <div class="news__wrapper_type">
            <h5>Подборка</h5>
            <h6>25.10.2023</h6>
          </div>
          <a class="news__wrapper-article__title" href="/blog">Days Gone</a>
          <a class="b-blog-article__description" href="/blog">Days Gone внезапно стала доступна в магазине GOG.COM.
            Игра не доступна для покупки из России, но при этом имеет цену в рублях.</a>
          <div class="news__wrapper-article__statistic">
          </div>
        </article>
        <article class="news__wrapper-article">
          <a class="news_img" href="/blog">
            <img src="../../../public/img/news/cyberpunk-Cyberpunk-2077-Ciri-3D-The-Witcher-The-Witcher-3-Wild-Hunt-1443273.jpg" width="450px"></a>
          <div class="news__wrapper_type">
            <h5>Подборка</h5>
            <h6>25.10.2023</h6>
          </div>
          <a class="news__wrapper-article__title" href="/blog">Cyberpunk 2077</a>
          <a class="b-blog-article__description" href="/blog">Похоже, что пасхалка Cyberpunk 2077 Phantom Liberty
            поможет в спорах о романтических отношениях в The Witcher 3</a>
          <div class="news__wrapper-article__statistic">
          </div>
        </article>
        <article class="news__wrapper-article">
          <a class="news_img" href="/blog">
            <img src="../../../public/img/news/stalk.png" width="450px">
          </a>
          <div class="news__wrapper_type">
            <h5>Подборка</h5>
            <h6>25.10.2023</h6>
          </div>
          <a class="news__wrapper-article__title" href="/blog">S.T.A.L.K.E.R. 2</a>
          <a class="b-blog-article__description" href="/blog">S.T.A.L.K.E.R. 2: Heart of Chornobyl вышел, но есть
            нюанс — фанаты довели слитый билд до играбельного состояния.</a>
          <div class="news__wrapper-article__statistic">
          </div>
        </article>
        <article class="news__wrapper-article">
          <a class="news_img" href="/blog">
            <img src="../../../public/img/news/alan.jpg" width="450px"></a>
          <div class="news__wrapper_type">
            <h5>Подборка</h5>
            <h6>25.10.2023</h6>
          </div>
          <a class="news__wrapper-article__title" href="/blog">Alan Wake 2</a>
          <a class="b-blog-article__description" href="/blog">"Вы шутите?": игроки остались недовольны системными
            требованиями хоррора Alan Wake 2</a>
          <div class="news__wrapper-article__statistic">
          </div>
        </article>
        <article class="news__wrapper-article">
          <a class="news_img" href="/blog">
            <img src="../../../public/img/news/gta.png" width="450px">
          </a>
          <div class="news__wrapper_type">
            <h5>Подборка</h5>
            <h6>25.10.2023</h6>
          </div>
          <a class="news__wrapper-article__title" href="/blog">GTA 6</a>
          <a class="b-blog-article__description" href="/blog">Анонс GTA 6 уже близко? Студия Rockstar Games внезапно
            стала обновлять свой сайт</a>
          <div class="news__wrapper-article__statistic">
          </div>
        </article>
      </div>
    </div>
    <button @click="scrollToTop" id="scrollToTopButton" class="scroll-to-top-button">
      <i class="fa-solid fa-chevron-up" style="color: #ffffff;"></i>
    </button>
  </div>
</template>

<style scoped>
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");


:root {
  --max-w-content: 1776px;
  --p: 48px;
  --mb: 80px;
  --col: 6.25%;
}

.allcontent {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  text-transform: uppercase!important;
  background-color: #141111;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.carousel img {
  height: 100vh;
}

.carousel {
  width: 100% !important;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(19, 15, 15, 0) 0%, #141111 90%);
  position: absolute;
}

.wyWe {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.we-con {
  text-align: center;
  position: relative;
  padding: 2.5%;
  width: 334px;
  font-size: 30px;
}

.we-text {
  color: #fff;
  text-align: center;
}

.we-img {
  text-align: center;
}

.we-con::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  border: 2px solid rgba(251, 187, 67, 0.3);
  border-radius: 12px;
  z-index: 1;
}

.we-con::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(0deg, rgba(20, 17, 17, 0) 0%, rgba(20, 17, 17, 0.9) 100%);
  mix-blend-mode: darken;
  border-radius: 6px;
  z-index: -1;
}

.we-con:hover {
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 2px 2px rgba(206,84,84,0);
}

.wellcome-game {
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 20px;
}

.games {
  position: relative;
  overflow: hidden;
}



@media screen and (max-width: 700px) {
  .games {
    overflow-x: auto;
    white-space: nowrap;
  }
  .non {
    display: none;
  }
}

.games-container {
  display: flex;
  transition: transform 0.5s;
}

.gamescon {
  flex: 0 0 25%;
  text-align: center;
}

.gamescon img {
  max-width: 95%;
  max-height: 100%;
  display: inline-block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.gamescon img:hover {
  transition: 0.5s;
  -webkit-box-shadow: -2px 3px 20px 23px rgba(255, 251, 0, 0.2);
  -moz-box-shadow: -2px 3px 20px 23px rgba(255, 251, 0, 0.2);
  box-shadow: -2px 3px 20px 23px rgba(255, 251, 0, 0.2);
  opacity: .5;
}

.gamescon img{
  border: 2px solid #CCC;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 30rem;
  height: 15rem;
}



/* Общие стили для разных разрешений экрана */
@media (min-width: 2000px) {
  .wyWe {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .we-con {
    padding: 2.5%;
    width: 500px;
  }

  .we-text {
    font-size: 40px;
  }
}


@media (max-width: 1300px) {
  .we-con {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5%;
    width: 400px;
  }

  .we-img {
    font-size: 40px;
  }

  .we-text {
    font-size: 18px;
  }
}


@media (max-width: 700px) {
  .carousel img {
    height: 40vh;
  }

  .carousel {
    height: 40vh;
  }
}

@media (max-width: 700px) {
  .wyWe{
    display: none;
  }
}

@media (max-width: 768px) {
  .gamescon {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .gamescon {
    flex: 0 0 100%;
  }

  .games-container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(100%);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .gamescon {
    scroll-snap-align: start;
  }

  .games-container::-webkit-scrollbar {
    display: none;
  }
}

.wellcome-news h2{
  margin-top: 150px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

.news__wrapper-article a:hover {
  transform: scale(1.05);
  transition: 0.3;
  color: #0062cc;
}

.news__wrapper-article__title {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  max-width: 468px;
  margin-bottom: 8px;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.b-blog-article__description{
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 15px!important;
  font-weight: 200!important;
  max-width: 400px;
  margin-bottom: 8px;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.news-wrapper h5{
  color: red;
}

.news_img img {
  width: 400px;
  height: 200px;
}

.news-wrapper h6{
  color: #fff;
}


.its-news {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(33.3333% - 20px);
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 50px;
}

.news__wrapper_type {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 150px;
  border: 3px solid rgba(255, 0, 0, 0.402);
  border-radius: 20px;
}


@media (max-width: 768px) {
  .wellcome-news h2 {
    margin-top: 50px;
    font-size: 30px;
  }
  .its-news {
    text-align: center;
  }
  .news_img img {
    margin: 0 auto;
    width: 356px;
    height: 200px;
  }
}

.price-tag {
  display: none; /* Изначально скрыт */
  background-color: rgba(255, 4, 4, 0.7);
  border-radius: 20px;
  color: #fff;
  justify-content: center;
  width: 10%;
  align-items: center;
  font-size: 24px;
  z-index: 2;
  transition: opacity 0.3s;
  position: absolute;
  top: 85%;
}

.gamescon:hover .price-tag {
  display: flex;
}

.brand {
  --section-padding: 60px;
  background-image: var(--gradient);
}

.brand .has-scrollbar { padding-block-end: 0; }

.brand .has-scrollbar::-webkit-scrollbar { display: none; }

.brand-item {
  min-width: calc(50% - 10px);
  scroll-snap-align: start;
}

.brand-item > img { margin-inline: auto; }
.brand-item { min-width: calc(16.66% - 16.66px); }

.container {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}

.container {
  display: grid;
  gap: 50px;
}

.has-scrollbar {
  list-style: none;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-block-end: 30px;
  scroll-snap-type: inline mandatory;
}

.npmbtn button {
  background-color: transparent;
}

#scrollToTopButton {
  position: fixed;
  right: 20px;
  display: none;
  background-color: #bf0b05;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 10px;
}

#scrollToTopButton:hover {
  background-color: #ff0000;
}

@media screen and (max-width: 1259px){
  .item-content a{
    font-size: 18px;
  }
}

.ventor-s {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 99;
  width: 50%;
}

.v-text {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.scroll-arrow {
  text-align: center;
  margin-top: 20px;
}

.scroll-arrow a {
  display: block;
  font-size: 24px;
  color: #fff;
}

.scroll-arrow i {
  margin-top: 10px;
}



.v-text h2 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: shadowAnimation 2s infinite alternate;
}

@keyframes shadowAnimation {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 600px){
  .v-text h2 {
    font-size: 16px;
  }
}
</style>