<script>
import product from "@/components/components/GameComponent.vue";
import api from "@/services/api";

export default {
  components: {
    product
  },

  data() {
    return {
      myPurchases: [],
      showModal: false,
      selectedGame: null
    };
  },

  async mounted() {
    await this.fetchAndSetMyPurchases();
  },

  methods: {
    async fetchAndSetMyPurchases() {
      try {
        const response = await api.get('/products/get-my-purchases');
        this.myPurchases = response.data;
      } catch (error) {
        console.error("Error fetching purchases:", error);
      }
    },

    showThanksModal(game) {
      this.selectedGame = game;
      this.showModal = true;
    },

    closeThanksModal() {
      this.showModal = false;
    }
  }
}
</script>

<template>
  <div class="allpur">
    <div class="bibliotec" >
      <h2>Библиотека</h2>
    </div>
    <div class="myPurchasesContainer" v-if="myPurchases.length > 0">
      <div v-for="(purchase, key) in myPurchases" :key="key" class="themost-game-cons">
        <product :game="purchase"/>
      </div>
    </div>
    <div v-else class="no-purchases-message">
      <p class="">Тут пока ничего нет :(</p>
      <div><a href="/games" class="btngame">к покупкам</a></div>
    </div>
  </div>
</template>

<style scoped>
.no-purchases-message {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btngame {
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 20px;
  text-align: center;
  width: 200px;
  display: block;
  background: #ff6a00;
}

.btngame:hover {
  background: rgba(255, 0, 0, 0.85);
  transition: 0.5s;
}

.allpur {
  min-height: 100vh;
  background-color: #141111;
}

.bibliotec h2 {
  color: #FFFFFF;
  padding-top: 200px;
  text-align: center;
}

.myPurchasesContainer {
  background-color: #141111;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.themost-game-cons {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 11px 11px 0 0;
  overflow: hidden;
  max-width: 350px;
}

.mgame-img {
  position: relative;
}

.mgame-img img {
  width: 100%;
  height: auto;
  min-height: 272px;
  display: block;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}

.btn {
  color: #FFFFFF;
  background: red;
  border-radius: 50px;
  width: 35%;
  display: block;
  margin: 10px auto;
}

.btn:hover {
  opacity: 0.7;
}
</style>
