<script>
import api from "@/services/api";
import NewsComponent from '@/components/components/NewsComponent.vue';

export default {
  components: {newsComponent: NewsComponent},

  data() {
    return {
      externalNews: Object,
      requestedNewsQuantity: 15,
    };
  },

  created() {
    this.fetchNews();
  },

  methods: {
    handleVideoError() {
      console.error('Error loading video');
    },
    fetchNews() {
      api.get('/news/getReviews?newsQNT=' + this.requestedNewsQuantity)
          .then((response) => {
            this.externalNews = response.data; // Предполагается, что данные приходят в формате JSON
          })
          .catch((error) => {
            console.error('Ошибка при загрузке новостей', error);
          });
    },
  },

}
</script>

<template>
  <div class="backvideo">
    <div class="homevideo">
      <video autoplay="true" preload="auto" loop="" playsinline="" @error="handleVideoError">
        <source type="video/webm"
                src="https://cdn.akamai.steamstatic.com/apps/csgo/videos/csgo_react/cs2/cs2_header.webm">
        <source type="video/mp4"
                src="https://cdn.akamai.steamstatic.com/apps/csgo/videos/csgo_react/cs2/cs2_header.mp4">
      </video>
    </div>
    <div class="fade-gradia"></div>
  </div>
  <div class="news-container">
    <div class="b-catalog__tabs js-custom-scrollbar ps ps--active-x">
      <div class="b-catalog__tabs-item js-tab-button active" data-tab-index="1">все статьи</div>
    </div>

    <div class="news-cont">
      <div v-for="newsItem in externalNews" :key="newsItem.id">
        <news-component :news="newsItem" v-model:news="externalNews" />
      </div>
    </div>
  </div>
</template>

<style scoped>
:root {
  --p: 48px;
  --mb: 80px;
  --col: 6.25%;
  --thumbBG: rgb(114, 112, 112);
  --scrollbarBG: #141111;
}

* {
  box-sizing: border-box;
}

.news-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.b-catalog__tabs-item {
  display: inline-block;
  padding: 10px 20px;
}

.news-container {
  margin: 0;
  background: #141111;
  min-height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-transform: none;
}

.backvideo {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  padding-top: 0px;
  overflow: hidden;
  display: block;
  position: relative
}

.homevideo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.homevideo video {
  height: 100%;
  object-fit: cover;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: .7;
}

.fade-gradia::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(31.23%, rgba(20, 17, 17, .05)), color-stop(60.32%, rgba(20, 17, 17, .676)), to(#141111));
  background: linear-gradient(180deg, transparent 0%, rgba(20, 17, 17, .05) 31.23%, rgba(20, 17, 17, .676) 60.32%, #141111 100%);
}

.news-container {
  margin: 0 auto;
  padding: 0 var(--p);
}


.search button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 130px;
  font-size: 14px;
}

.b-catalog__tabs {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 calc(var(--mb) / 2);
}

.b-catalog__tabs-item.active {
  background: rgba(251, 187, 67, .3);
  border: 1px solid #fbbb43;
  box-sizing: border-box;
  border-radius: 6px;
}

.b-catalog__tabs-item:hover {
  transition: 0.3s;
  color: #fbbb43;
}

.b-catalog__tabs-item {
  padding: 5px 12px 3px;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .3s;
  border-radius: 6px;
}

.b-catalog__tabs-item {
  color: #fff;
}

.news-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
}


</style>